# Shared
NODE_ENV=development

# Server
SERVER_PORT=8000
ALLOWED_ORIGINS=http://localhost:3000

# Postgres (docker default values)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=polychat
POSTGRES_USER=polychat
POSTGRES_PASSWORD=polychat

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Client
NEXT_PUBLIC_API_BASE=http://localhost:8000


